:root {
  --hover-color: #009982;
}

#main-content {
font-family:}

/* Custom CSS for hover underline color */
a:hover:not(.headerlink) {
  border-bottom: 2px solid var(--hover-color);
  text-color: #00CCAD;
}

#project-container h1 {
width: 100%;
}

/* b, strong {
  color: var(--hover-color);
} */

li.toctree-l1 > a:hover, li.toctree-l2 > a:hover, li.toctree-l3 > a:hover {
  text-underline-color: #E0F7F4
}

/* Side menu specific hover effect */
#side-menu-container li.toctree-l1 > a:hover,
#side-menu-container li.toctree-l2 > a:hover,
#side-menu-container li.toctree-l3 > a:hover {
  color: #E0F7F4;
}

/* Main content specific hover effect with a lighter color */
#main-content-container li.toctree-l1 > a:hover,
#main-content-container li.toctree-l2 > a:hover,
#main-content-container li.toctree-l3 > a:hover {
  color: #009982;
}

#main-container {
text-align: justify;
}

header #logo-container {
  width: 150%; /* Or 100% if you want it to fill the parent */
  height: 100px;
  padding-left: 0em;
}

#logo-container img {
  /* Remove float */
  max-width: 150%; /* Prevent image from overflowing */
  max-height: 150%; /* Prevent image from overflowing */
  /* Maintain aspect ratio and center if necessary: */
  object-fit: cover; /* or cover if you want it to fill */
}

img.align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
}

#project-container {
  justify-content: center;
  align-items: center;
  height: 100px;
}

#project-container h1 {
  font-size: 2em;
  font-weight: 700;
  color: --text-color;
}

.headerlink {
  display: none;
}

p {
text-align: justify;
}


h1, h2, h3, h4, h5, h6 {
  position: relative;
}

h1 {
font-weight: 500;
border-bottom: 4px solid var(--hover-color);
}

h2 {
font-weight: 450;
border-bottom: 2.5px solid var(--hover-color);
}

h3 {
font-weight: 300;}

h3, h4, h5, h6 {
  border-bottom: 1px solid var(--hover-color);
}

#side-menu-container {
  border-radius: 12px;
  width: 370px;
  margin-right: .25em;
  position: relative;
  background-color: #00B69B;
  height: auto;
}

#side-menu {
margin-top: .2em}

#search input[type=text] {
  width: 100%;
  height: 1.5em;
  font-weight: 300;
  font-size: 1.2em;
  box-sizing: border-box;
  border: none;
  background-color: #E5FFFB;
  color: #2D2D2D;
  font-family: "IBM Plex Sans", serif;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#search input[type=text]::placeholder {
  color: #a5a5a5;
  font-weight: 300;
}

#search input[type=text]:focus {
  outline: none;
}

#insegel-container {
  padding-left: 0em;
  padding-right: 1em;
  max-width: 1500px;
  margin-left: none;
  margin-right: auto;
}

.caption {
  font-size: 1.2em;
  font-weight: 500;
}

#codecell0 {
  margin-top: 2px;
  margin-bottom: 2px;
  height: auto;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  round-border: 15px;
}

div.highlight {
    position: relative;
    justify-content: left;
}

button.copybtn {
    position: relative;
    left: 0;
    display: flex;
    width: 2.7em;
    height: 2.7em;
    opacity: 0;
    transition: opacity 0.3s, border 0.3s, background-color 0.3s;
    user-select: none;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 0.4em;
    border: #1b1f2426 1px solid;
    background-color: #f6f8fa;
    color: #57606a;
}

button.copybtn.success {
    border-color: #22863a;
    color: #22863a;
}

button.copybtn svg {
    stroke: currentColor;
    width: 2.5em;
    height: 2.5em;
    padding: 0.1em;
}



.highlight:hover button.copybtn, button.copybtn.success {
    opacity: 1;
}

.highlight button.copybtn:hover {
    background-color: rgb(235, 235, 235);
}

.highlight button.copybtn:active {
    background-color: rgb(187, 187, 187);
}

.admonition.note {
  background-color: #aecdc8;
  border-left: 4px solid #00B69B;
  padding: 1em;
  margin: 1em 0;
}

.admonition.warning {
  background-color: #d3b9ae;
  border-left: 4px solid #B73700;
  text-color: #B73700;
  padding: 1em;
  margin: 1em 0;
}

.admonition.warning p{
  color: #57606a;
}

.admonition.note p{
  color: #57606a;
}

.admonition-title {
  font-size: 1.2em;
  font-weight: bold;
}