:root {
  --hover-color: #009982;
}

/* Custom CSS for hover underline color */
a:hover:not(.headerlink) {
  border-bottom: 2px solid var(--hover-color);
}

.logo-container h1 {
  position: relative;
}

.logo-container h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hover-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.logo-container h1:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.headerlink {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}

h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  content: '';
  position: absolute;
  width: calc(100% + 10px); /* Extend the underline a bit longer to the right */
  height: 2px;
  bottom: -2px; /* Adjust the position of the underline */
  left: 0;
  background-color: var(--hover-color);
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}