name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          check-latest: false
          update-environment: true
          allow-prerelease: false
          freethreaded: false

      - name: Check Python version
        run: python --version

      - name: Clear pip cache
        run: python -m pip cache purge

      - name: Upgrade pip, setuptools, wheel, pip-tools
        run: |
          python -m ensurepip --upgrade
          python -m pip install --upgrade --no-cache-dir pip setuptools wheel pip-tools

      - name: Install your package for testing
        run: |
          python -m pip install --no-cache-dir .

      - name: Install dependencies
        run: |
          python -m pip install --no-cache-dir -r requirements.txt

      - name: Install Sphinx and doc dependencies
        run: |
          python -m pip install --no-cache-dir -r docs/source/requirements.txt

      - name: Build Documentation
        run: |
          # Builds the docs from docs/source into docs/build/html
          sphinx-build -b html docs/source docs/build/html

      - name: Run tests
        run: |
          python -m unittest discover
